<div class="container">
  <%= image_tag 'sample.png', class:"PNG", width: "300", height: "300" %>

  <%= form_with(model: @confession, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="field">
      <%= f.label :username, "名前" %><br>
      <%= f.text_field :username, placeholder: "あなたの名前を入力してください", class:"input input-bordered input-warning w-full max-w-xs" %>
    </div>

    <div class="field">
      <%= f.label :text, "告白内容" %><br>
      <%= f.text_area :text, rows: 10, placeholder: "あなたの気持ちを書いてください...", class:"textarea textarea-warning" %>
    </div>

    <div class="actions">
      <%= f.submit "告白する", class: "btn btn-primary" %>
      <%= link_to '戻る', root_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>